.toggle-plugin {
    display: block;
}

.toggle-plugin .click {
    cursor: pointer;
}

.toggle-plugin .click h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.toggle-plugin .toggle {
    margin-bottom: 20px;
    display: none;
}
